################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/CoordinateMap/.idea/.idea.CoordinateMap/.idea
/CoordinateMap/.vs/CoordinateMap
/CoordinateMap/CoordinateMap/bin/Debug/netstandard2.0
/CoordinateMap/CoordinateMap/obj
/CoordinateMap/CoordinateMap/bin
